@inherits LayoutComponentBase
@using System.Security.Claims
<MudThemeProvider Theme="Theme" />
<MudDialogProvider />
<MudSnackbarProvider />
<AuthorizeView>
    <Authorized>
        @{
            Authenticated = true;
            Authorized = true;
            User = context.User;
        }
    </Authorized>
    <NotAuthorized>
        @{
            User = context.User;
            if(context.User.Identity?.IsAuthenticated ?? false)
            {
                Authenticated = true;
            }
        }
    </NotAuthorized>
</AuthorizeView>
<MudLayout>
    @if(Authenticated)
    {
        <MudDrawer @bind-Open="drawerOpen"
               Elevation="1"
               Anchor="Anchor.Left"
               Style="@($"background:{Colors.Grey.Lighten2};")"
               Variant="@DrawerVariant.Temporary">
            <MudDrawerHeader Class="d-flex justify-center">
            </MudDrawerHeader>
            <MudDrawerContainer Class="d-flex flex-column flex-grow-1 justify-center align-center px-3">
                <MudItem xs="12">
                    <h2>Claims</h2>
                    <dl>
                        @foreach(var claim in User.Claims)
                        {
                            <dt>@claim.Type</dt>
                            <dd>@claim.Value</dd>
                        }
                    </dl>
                </MudItem>
                <MudItem xs="12">
                    <form method="get" action="logout">
                        <MudButton Color="Color.Error"
                               Size="Size.Large"
                               Variant="Variant.Filled"
                               ButtonType="ButtonType.Submit">
                            Log out
                        </MudButton>
                    </form>
                </MudItem>
                @if(drawerOpen)
                {
                    <MudFab OnClick=DrawerToggle
                    Style="position:fixed; bottom:5px;left:5px; z-index:1000;"
                    Color=Color.Secondary
                    Class="d-print-none"
                    Size=Size.Small
                    Icon=@Icons.Material.Filled.Close />
                }
            </MudDrawerContainer>
        </MudDrawer>
    }
    <MudMainContent Class="pt-0">
        @if(Authenticated)
        {
            <MudFab OnClick=DrawerToggle
                Style="position:fixed; bottom:5px;left:5px; z-index:1000;"
                Color=Color.Success
                Class="d-print-none"
                Size=Size.Small
                Icon=@Icons.Material.Filled.Lock />
        }
        <MudContainer Class="px-0" MaxWidth="MaxWidth.ExtraLarge">
            @if(Authorized)
            {
                @Body
            }
            else if(Authenticated)
            {
                <MudGrid>
                    <MudItem xs="12">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Elevation="0">
                            <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">
                                You have not access to this content.
                            </MudAlert>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            }
            else
            {
                <MudGrid>
                    <MudItem xs="12">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Elevation="0">
                            <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">
                                You must log in first.
                            </MudAlert>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12">
                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Elevation="0">
                            <form method="get" action="login">
                                <MudButton Color="Color.Tertiary"
                                       FullWidth=true
                                       Size="Size.Large"
                                       StartIcon="@Icons.Material.Filled.Login"
                                       DisableElevation="true"
                                       Variant="Variant.Filled"
                                       ButtonType="ButtonType.Submit">
                                    Log in
                                </MudButton>
                            </form>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            }
        </MudContainer>
    </MudMainContent>
</MudLayout>
@code {
    bool drawerOpen = false;
    bool Authorized = false;
    bool Authenticated = false;
    ClaimsPrincipal User = new();
    void DrawerToggle()
    {
        drawerOpen = !drawerOpen;
    }

    MudTheme Theme = new MudTheme()
        {
            Typography = new Typography()
            {
                Default = new Default()
                {
                    FontFamily = new[] { "Segoe UI Local", "Segoe UI Web(West European)" },
                    FontWeight = 100,
                },
                H1 = new H1
                {
                    FontWeight = 100
                },
                H3 = new H3
                {
                    FontWeight = 100
                }
            }
        };
}